/* https://daily.dev/blog/how-to-use-tailwindcss-with-node-js-express-and-pug */

.flexrow{
    @apply flex flex-row items-center;
}

._toolbar{
    @apply w-full h-[150px] md:h-[170px] fixed;
    ._image-container{
        @apply w-[70vw] md:w-[20vw] h-[100%] mx-auto;
        ._image-background{
            @apply h-full w-full bg-[url('/img/circle-gradient.webp')];
            ._book{
                @apply w-[100%] mx-auto;
            }
            ._subtitle{
                @apply text-gray-400 text-center font-bold text-[24pt] md:text-[32pt] mt-[-15px] md:mt-[-20px];
            }
        }
    }
}

._page-content {
    @apply flex flex-col items-center pt-[150px] md:pt-[170px];
    ._list-item-container{
        @apply h-[calc(100vh-(145px+30px))] md:h-[calc(100vh-(170px+50px))] xl:h-[calc(100vh-(170px+60px))] w-[95vw] md:w-[80vw];
        ._list-item{
            @apply grid grid-cols-1 md:grid-cols-5;
            ._img-festive {
                @apply w-[90%] mt-[40px] md:mt-0 pb-[40px] md:pb-[50px];
            }
            ._sub-list-item-cols-10{
                @apply text-[1em] md:text-[1.6em] font-medium p-2 grid grid-cols-10 cursor-pointer rounded-lg shadow-lg mt-[12px] bg-gradient-to-b from-[#dadde5] to-[#FFFFFF88];
            }
        }
    }
}

._footer{
    @apply fixed bottom-0 left-0 right-0 
           h-[40px] md:h-[50px] xl:h-[60px] 
           bg-gradient-to-b from-[#c4c7cf] to-[#FFFFFF] shadow-inner;
    ._container{
        @apply flex flex-col items-center justify-center h-full text-gray-400;
    }
}

._text-balloon{
    @apply bg-[url('/img/textballoon6.webp')] md:bg-[url('/img/textballoon5.webp')] bg-center bg-no-repeat;
    ._text-balloon-text {
        @apply font-Atma-Medium font-normal text-center text-[14pt] md:text-[18pt] pl-[30px] pt-[10px] pb-[10px] pr-[5px] md:pl-[60px] md:pr-[30px] md:pt-[20px] md:pb-[20px];
    }
}

.wrapper{
    @apply bottom-[60px] md:bottom-[70px] xl:bottom-[80px]
           fixed max-w-[345px] w-[100%] bg-blue-300 rounded-lg p-[20px]
           max-md:bottom-[-600px] max-md:transition-[bottom] max-md:duration-700 max-md:ease-in max-md:right-[calc((100%-345px)/2)]
           md:right-[-375px] md:transition-[right] md:duration-500 md:ease-in;
}
.wrapper.show {
    @apply right-[calc((100%-345px)/2)] max-md:bottom-[70px] md:right-[20px] 
}
.wrapper header{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
header i {
    color: #4070f4;
    font-size: 32px;
}
header h2 {
    color: #4070f4;
    font-size: 28px;
    font-weight: 700;
}
.wrapper .data {
    margin-top: 16px;
}
.wrapper .data p {
    color: #333;
    font-size: 16px;
}
.data p a {
    color:#4070f4;
    text-decoration: none;
}
.data p a:hover {
    color:#4070f4;
    text-decoration: underline;
}
.wrapper .buttons {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons .button {
    border: none;
    background-color: #4070f4;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 0;
    color:white;
    width: calc(100% / 2 - 10px);
    transition: all 0.3s ease;
}
.buttons .button:hover {
    background-color: #034bf1;
}