<footer class="_footer">
    <div class="_container">
        <div>
            <%- translations.footer.copyright %> &copy; <%= year %>
        </div>
        <div class="text-[9pt]">
            <%- translations.footer.generated %>
                <%= generated %>
        </div>
    </div>
</footer>