<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Thingy</title>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/<%= cssfile %>.css"/>
    <link rel="icon" href="/img/favico.webp">    
    <!-- 
        https://stackoverflow.com/questions/5559578/having-links-relative-to-root
        A root-relative URL starts with a / character, to look something like 
        <a href="/directoryInRoot/fileName.html">link text</a>.

        https://discuss.codecademy.com/t/can-you-apply-multiple-stylesheets-to-a-single-page/369792
    -->
</head>