<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Thingy</title>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/fonts.css"/>
    <link rel="stylesheet" href="/css/<%= cssfile %>.css"/>
    <link rel="icon" href="/img/favico.webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Chela+One&family=Combo&family=Frijole&family=Grechen+Fuemen&family=Indie+Flower&family=Kablammo&family=Lacquer&family=Luckiest+Guy&family=Nosifer&family=Oregano:ital@0;1&family=Permanent+Marker&family=Shadows+Into+Light&family=Special+Elite&family=Unkempt:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- 
        https://stackoverflow.com/questions/5559578/having-links-relative-to-root
        A root-relative URL starts with a / character, to look something like 
        <a href="/directoryInRoot/fileName.html">link text</a>.

        https://discuss.codecademy.com/t/can-you-apply-multiple-stylesheets-to-a-single-page/369792
    -->
</head>