<nav class="_nav">
    <div class="_container _margins">
        <div>
            <!-- title tag is sent from via render function in app.js -->
            <a href="/"><div class="_title">Math thingy</div></a>
        </div>
        <div class="_navmenu">
            <div class="_subtitle">
                Home of the most addictive game since ever!
            </div>
            <ul class="_itemlist">
                <li class="_item"><a href="/">Looking at it</a></li>
                <li class="_item"><a href="/">The game</a></li>
                <li class="_item"><a href="/">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>