# Dependency directories
node_modules/
logs/
# Optional npm cache directory
.npm
# dotenv environment variables file
.env
# workspace config
math_thingy.code-workspace
public/css/main.css
public/css/contact.css
public/css/global.css
