<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>   
        <div class="_fonttext pt-[30px] text-center p-2">Hmmm... looks like you managed to break something here.</div>
        <!-- https://www.pngegg.com/en/png-fmcme -->
        <img src="/img/omg.webp" height="75px" class="mx-auto"/>
        <div class="fixed bottom-10 left-0 right-0 text-center">
            <div class="_fonttext mt-3">Maybe we should go home and try something else?</div>
            <button onclick="window.location.href='/'" class="_fontbutton mt-[30px] w-[60%] md:w-[30%] xl:w-[15%] mx-auto">
                <img src="/img/icons/home.svg" width="40px" class="_icon mt-1"/>HOME
            </button>
        </div>        
    </body>
</html>
