<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>   
        <div>
            <div class="_toolbar">
                <div class="_image-container">
                    <div style="background-size:100% 100%;" class="_image-background">
                        <div>
                            <img src="/img/math-book.webp" width="100vw" class="_book"/>   
                        </div>
                        <div class="_subtitle">THINGY</div>
                    </div> 
                </div>    
            </div>              
            <div class="_page-content">
                <ul class="_list-item-container">
                    <li class="_list-item">
                        <div class="col-span-3 p-1">
                            <ul class="h-fit md:h-[calc(100vh-(170px+80px))] xl:h-[calc(100vh-(170px+90px))]">
                                <li class="text-[1em] md:text-[1.6em] font-medium p-2 grid grid-cols-10 bg-white"><div class="col-span-2"><img src="/img/stranger.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2"><span id="interval">Hey it's your first time! Welcome!</span></div></li>    
                                <li class="text-[1em] md:text-[1.6em] font-medium p-2 grid grid-cols-10 cursor-pointer rounded-lg shadow-lg mt-[5px] bg-gradient-to-b from-[#dadde5] to-[#FFFFFF88]"><div class="col-span-2 my-auto"><img src="/img/start.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2">There where 12 new rankings in your absence</div></li>
                                <li class="text-[1em] md:text-[1.6em] font-medium p-2 grid grid-cols-10 cursor-pointer rounded-lg shadow-lg mt-[5px] bg-gradient-to-b from-[#dadde5] to-[#FFFFFF88]"><div class="col-span-2 my-auto"><img src="/img/start.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2">Your highest ranking is still 277. You should get to work</div></li>
                                <li class="text-[1em] md:text-[1.6em] font-medium p-2 grid grid-cols-10 cursor-pointer rounded-lg shadow-lg mt-[5px] bg-gradient-to-b from-[#dadde5] to-[#FFFFFF88]"><div class="col-span-2 my-auto"><img src="/img/start.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2">New feature in the Math Thingy App, be sure to check it out</div></li>                            
                            </ul>
                        </div>
                        <div class="col-span-2">
                            <img src="/img/festive.webp" width="100vw" class="_img-festive ml-auto"/>
                        </div>
                        <!-- <div class="_buttonbar">
                            <button onclick="window.location.href='/ranking'" class="_fontbutton mt-[35px] w-[70%] md:w-[30%]">
                                <img src="/img/icons/global.svg" width="25px" class="_icon"/>Ranking
                            </button>
                            <button onclick="window.location.href='/thegame'" class="_fontbutton mt-[35px] w-[70%] md:w-[30%]">
                                <img src="/img/icons/question.svg" width="25px" class="_icon"/>What's This?
                            </button>
                            <button onclick="window.location.href='/contact'" class="_fontbutton mt-[35px] w-[70%] md:w-[30%]">
                                <img src="/img/icons/contact.svg" width="25px" class="_icon"/>Contact
                            </button>
                        </div>                  -->
                    </li>
                </ul>      
            </div>
        </div> 
        <%- include('./partials/footer.ejs') %>
        <script type="module">
            import { Epoch } from '/class/Epoch.js'

            //let ejsEpoch = "<%= epoch %>"
            if(localStorage.getItem("visit")===''||localStorage.getItem("visit")===null){
                document.getElementById("interval").innerHTML = "Hey it's your first time! Welcome!"                
            } else {    
                const epoch = new Epoch(+localStorage.getItem("visit"))
                document.getElementById("interval").innerHTML = `Hey stranger! Your last visit was ${epoch.getElapsedTimeAsString()} ago...here's what happened`
            }
            localStorage.setItem("visit", Date.now())

        </script>
    </body>
</html>