<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="_indexcontainer _margins">
            <div class="_fontsize m-0">
                Index.ejs
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>