<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body class="_background m-0">        
        <div class="_container-body">
            <div class="_background-body" />          
            <div style="background-size:100% 100%;" class="_title-container">
                <div>
                    <img src="/img/math-book.png" width="100vw" class="_book"/>   
                </div>
                <div class="_subtitle">THINGY</div>
            </div>    
        </div>    
        <%- include('./partials/footer.ejs') %>
    </body>
</html>