<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>   
        <div>
            <div class="_toolbar">
                <div class="_image-container">
                    <div style="background-size:100% 100%;" class="_image-background">
                        <div>
                            <img src="/img/math-book.webp" width="100vw" class="_book"/>   
                        </div>
                        <div class="_subtitle">THINGY</div>
                    </div> 
                </div>    
            </div>              
            <div class="_page-content">
                <ul class="_list-item-container">
                    <li class="_list-item">
                        <div class="col-span-2 md:hidden">
                            <img src="/img/festive.webp" width="90vw" class="_img-festive mx-auto"/>
                        </div>                        
                        <div class="col-span-3 p-1 pb-[30px] md:pb-0">                            
                            <ul class="h-fit p-2 md:p-0 md:h-[calc(100vh-(170px+80px))] xl:h-[calc(100vh-(170px+90px))]">
                                <li class="text-[1em] md:text-[1.6em] font-medium p-2 grid grid-cols-10 bg-white">
                                    <div class="col-span-2 md:mt-auto"><img src="/img/smiley-listen-up.webp" height="90%"></div>
                                    <div class="col-span-8 px-2 _text-balloon" style="background-size:100% 100%;">
                                        <div id="interval" class="_text-balloon-text"></div>
                                    </div>
                                </li>    
                                <li class="_sub-list-item-cols-10"><div class="col-span-2 my-auto"><img src="/img/start.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2 text-[12pt] md:text-[16pt]">There where 12 new rankings in your absence</div></li>
                                <li class="_sub-list-item-cols-10"><div class="col-span-2 my-auto"><img src="/img/start.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2 text-[12pt] md:text-[16pt]">Your highest ranking is still 277. You should get to work</div></li>
                                <li class="_sub-list-item-cols-10"><div class="col-span-2 my-auto"><img src="/img/start.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2 text-[12pt] md:text-[16pt]">New feature in the Math Thingy App, be sure to check it out</div></li>                            
                            </ul>
                        </div>
                        <div class="col-span-2 max-md:hidden">
                            <img src="/img/festive.webp" width="100vw" class="_img-festive ml-auto"/>
                        </div>
                    </li>
                </ul>      
            </div>
        </div> 

        <%- include('./partials/footer.ejs') %>
        
        <script type="module">
            import { getElapsedTimeAsString } from '/lib/epoch.js'

            getElapsedTimeAsString(performance.navigation.type)

            // getting a var value from EJS data. Mind the quotes
            //let ejsEpoch = "<%= epoch %>"
            document.getElementById("interval").innerHTML = getElapsedTimeAsString(+localStorage.getItem("visit"))
            if(performance.navigation.type!==1)localStorage.setItem("visit", Date.now())

        </script>

    </body>
</html>